@media only screen and (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }

  .nav-link {
    display: none;
  }

  ul {
    padding: 10px 10px 0px 10px;
  }

  .dot {
    display: none;
  }
}
